<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Finch</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>Classic Cars Home</h1>
        <div class="home__playlists">
            {% for sale in sales %}
        
                <div class="playlist mb-5">
                    <h3 class="title is-3 has-text-success">{{sale.owner}}'s {{sale.make}}</h3>
                    <hr />
        
                    {% for sale in wishlist.sales.all %}
        
                        <div class="song">
                            <span>{{forloop.counter}}</span>
                            <span><b>{{sale.owner}}</b></span>
                            <span>{{sale.price}}</span>
                            <span>
                                    <!-- delete from wishlist -->
                                <a href="{% url 'wishlist_sale_assoc' wishlist.pk sale.pk %}?assoc=remove" class="button is-danger is-outlined">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                                </a>
                            </span>
                        </div>
        
                    {% endfor %}
                </div>
            {% empty %} 
                <div class="playlist mb-5">"Wishlist is empty"</div>
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>